@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|PT+Sans|Vollkorn|Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Jura');

@import url('../css-style/header.css');

@import url('../css-style/nav.css');

@import url('../css-style/menu.css');

@import url('../css-style/main.css');

@import url('../css-style/scroll-bar.css');



* {
	margin: 0;
	padding: 0;
}

body {
   font-family: 'M PLUS Rounded 1c', sans-serif;
}
